@media only screen and (min-width: 35rem) {

	.container .col1 {
		font-size: 12px;
		line-height: 15px;
	}

	.container .header .title {
		font-size: 13px;
		line-height: 16.25px;
	}

	.container .header .subtitle {
		font-size: 9px;
		line-height: 11.25px;
	}

	.info p {
		font-size: 10px;
		line-height: 12.5px;
	}

	.container {
		max-width: 726px;
	}

}