header {
	align-items: center;
    justify-items: center;
    text-align: center;
}

#logo {
	max-width: 20%;
    /*justify-self: stretch;
    padding: .2em;
	margin-bottom: 5px;*/
	background-color: #48484A;
    border-radius: 35px;
    border: 1px solid #48484A;
}


main {
	background-color: #ffffff;
	max-width: 960px;
    margin: 0 auto;
	padding: 1em;
}

footer {
	border-radius: 10px;
	background-color: #48484A;
	color: #ffffff;
    align-items: center;
    justify-items: center;
    text-align: center;
    padding: 1em;
    margin-top: 4em;
	font-size: 1.1em;
    line-height: 1.6em;
    letter-spacing: 0.04em;
	max-width: 980px;
    margin: 0 auto;
}

nav {
	background-color: #064C74;
	text-align: center;
	/*box-shadow: 0 2px 15px gray;*/
	font-family: "Open Sans", Arial, sans-serif;
	border-radius: 10px;
}

nav button {
	margin: .2rem 2%;
	background-color: transparent;
	color: #ffffff;
	border: none;
	font-size: 1.6rem;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

nav ul.responsive {display: none;}

.active {
	color: yellow;
}

nav ul li a {
	display: block;
	color: #ffffff;
	text-align: center;
	padding: 0.8rem 2%;
	text-decoration: none;
	font-size: 1.1rem;
	border-top: 1px solid rgba(0,0,0,0.3);
}

nav ul li a:hover {
	background-color: #ffffff;
	color: #064C74;
}

nav ul li.active {
	background-color: rgab(0,0,0,0.2);
}

.color1 {
	background-color: #48484A;
	color: #F2F2F2;
	padding: 1em;
}
.color2 {
	background-color: #FFFFFF;
	color: #295133;
	padding: 1em;
}
.color3 {
	background-color: #FFFFFF;
	color: #48484A;
	padding: 1em;
}
.color4 {
	background-color: #F2F2F2;
	color: #064C74;
	padding: 1em;
}
.color5 {
	background-color: #F2F2F2;
	color: #48484A;
	padding: 1em;
}

h1 {
	font-size: 1.95rem;
	letter-spacing: 0.04rem;
	text-align: center;
	font-family: "Open Sans", Arial, sans-serif;
	line-height: 1.4em;
}

h2 {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 1.4rem;
	letter-spacing: 0.02rem;	
	line-height: 1.4rem;
}

p {
	font-family: "Roboto Condensed", Arial, sans-serif;
	font-size: 1rem;
	letter-spacing: 0.09rem;
	line-height: 2rem;
}

/*-- Clearfix: Force and Element not to collapse--*/

.clearfix:after {
	content: "";
	display: table;
	clear:both;
}