main {
	background-color: #ffffff;
	max-width: 1200px;
    margin: 0 auto;
	padding: 1em;
}

footer {
	border-radius: 10px;
	background-color: #48484A;
	color: #ffffff;
    align-items: center;
    justify-items: center;
    text-align: center;
    padding: 1em;
    margin-top: 4em;
	font-size: 1.1em;
    line-height: 1.6em;
    letter-spacing: 0.04em;
	max-width: 1200px;
    margin: 0 auto;
}


h1 {
	font-size: 1.95rem;
	letter-spacing: 0.04rem;
	text-align: center;
	font-family: "Open Sans", Arial, sans-serif;
	line-height: 1.4em;
}

h2 {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 1.4rem;
	letter-spacing: 0.02rem;	
	/*line-height: 1.4rem;*/
}

p {
	font-family: "Roboto Condensed", Arial, sans-serif;
	font-size: 1rem;
	letter-spacing: 0.09rem;
	line-height: 2rem;
}



/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {

} /*end medium */


/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {

} /*end large */


/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}