main {
    display: grid;
    grid-template-columns: 0.3fr 1fr 0.3fr;
}

table {
    grid-column: 2 / 3;
    margin-top: 2rem;
    font-family: "Ubuntu", sans-serif;
    box-shadow: .2rem .2rem 2rem #628ca6;
    border: 0;
    max-width: 300px;
    justify-self: center;
}

table, th, td {
    border: 1px solid rgb(172, 172, 172);
    border-collapse: collapse;
}

th, td {
    padding: 0.5rem;
    text-align: center;
}

table tbody th {
    background-color: #628ca6;
    color: white;
}

thead, tfoot {
    background-color: #7fb9c2;
}

thead {
    font-size: 1.5rem;
}

tfoot {
    font-size: 0.8rem;
}

table tbody tr:nth-child(odd) {
    background-color: #e7ffed;
}

table tbody tr:nth-child(even) {
    background-color: #e7f0ed;
}

table tbody tr:nth-child(6) td:nth-child(1) {
    font-style: italic;
}

table tbody tr:nth-child(5) td:nth-child(3) {
    background-color: #628ca6;
    color: white;
}

