h1 {
	font-size: 1.95rem;
	letter-spacing: 0.04rem;
	text-align: center;
	font-family: "Open Sans", Arial, sans-serif;
	line-height: 1.4em;
}

figure {
    display: block;
    margin-top: 2rem;
    text-align: center;
}

figure img[data-src] {
    filter: blur(0.5em);
}

figure img {
    filter: blur(0em);
    transition: filter 0.5s;
}

