header, .title {
	align-items: center;
    justify-items: center;
    text-align: center;
}

#logo {
	background-color: #48484A;
    border-radius: 35px;
    border: 1px solid #48484A;
}


main {
	background-color: #ffffff;
	max-width: 1200px;
    margin: 0 auto;
	padding: 1em;
}

footer {
	border-radius: 10px;
	background-color: #48484A;
	color: #ffffff;
    align-items: center;
    justify-items: center;
    text-align: center;
    padding: 1em;
    margin-top: 4em;
	font-size: 1.1em;
    line-height: 1.6em;
    letter-spacing: 0.04em;
	max-width: 1200px;
    margin: 0 auto;
}

.color1 {
	background-color: #48484A;
	color: #F2F2F2;
	padding: 1rem;
}
.color2 {
	background-color: #FFFFFF;
	color: #295133;
	padding: 1rem;
	margin-top: 2rem;
}
.color3 {
	background-color: #FFFFFF;
	color: #48484A;
	padding: 1rem;
}
.color4 {
	background-color: #F2F2F2;
	color: #064C74;
	padding: 1rem;
	margin-top: 2rem;
}
.color5 {
	background-color: #F2F2F2;
	color: #48484A;
	padding: 1rem;
}

h1 {
	font-size: 1.95rem;
	letter-spacing: 0.04rem;
	text-align: center;
	font-family: "Open Sans", Arial, sans-serif;
	line-height: 1.4em;
}

h2, .temperature {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 1.4rem;
	letter-spacing: 0.02rem;	
	/*line-height: 1.4rem;*/
}

p, form {
	font-family: "Roboto Condensed", Arial, sans-serif;
	font-size: 1rem;
	letter-spacing: 0.09rem;
	line-height: 2rem;
}

.box {
	margin-top: 2rem;
}

/*---------------------- NAV SECTION --------------------------*/

nav button {
	margin: .2rem 2%;
	background-color: transparent;
	border: none;
	font-size: 1.6rem;
	color: #fff;
}


nav {
	background: #064c74;
	background: -moz-linear-gradient(top,  #064c74 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
	background: -webkit-linear-gradient(top,  #064c74 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
	background: linear-gradient(to bottom,  #064c74 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#064c74', endColorstr='#7db9e8',GradientType=0 );
	font-family: "Open Sans", Arial, sans-serif;
}

nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

nav ul li a {
	display: block;
	padding: .8rem 2%;
	text-decoration: none;
	color: rgba(255,255,255,0.8);
	border-top: 1px solid rgba(0,0,0,0.3);
}

nav ul li.active a {background-color: rgba(0,0,0,0.2); color: #fff;}

nav ul li a:hover {background-color:rgba(0,0,0,0.4);}

nav ul.hide {display: none;}


/*---------------------- MAIN CONTENT --------------------------*/

.banner {display: block;}

.hide {display: none;}



.hero-img, .article-img {
	max-width: 100%;
	box-shadow: 0 0 20px #333;
}

.summary, .box {
	background: #48484A;
	color: #fff;
	border: 1px solid #fff;
	padding: 1rem;
	box-shadow: 0 0 30px #333;
	opacity: .9;
	text-align: center;
	margin: auto;
}

.boxes {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	background: #48484A;
	/*border: 1px solid #fff;*/
	padding: 1.5rem;
	box-shadow: 0 0 30px #333;
	opacity: .9;
}

.temperature {
	margin-top: 0;
	/*margin-bottom: 1rem;*/
}

.windSpeed {
	margin-bottom: 0;
}

#minMax, #sky, #humidity {
	margin: 0;
}

.forecast {display: none;}

.map {display: none;}


/*--------------- PICS CONFIGURATION -------------------*/

.container {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 2rem;
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

figure img[data-src] {
    filter: blur(0.15em);
}

figure img {
    filter: blur(0em);
    transition: filter 0.5s;
}

figure {
	padding: 1rem;
	border-style: groove;
	border-width: 1px;
	border-right: 0;
	border-bottom: 0;
}

img {
	max-width: 100%;
}

/*------------------ FORMS DESIGN ----------------------*/

form fieldset {
    margin: 2rem 0;
    border: 1px solid #445ba9;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: #445ba9;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-size: .8rem;
}


form label.top input, form label.top select, form label.top textarea {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 85%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #555;
}

form input.submitBtn {
    border: none;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
	background: #064c74;
	background: -moz-linear-gradient(top,  #064c74 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
	background: -webkit-linear-gradient(top,  #064c74 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
	background: linear-gradient(to bottom,  #064c74 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#064c74', endColorstr='#7db9e8',GradientType=0 );
	font-family: "Open Sans", Arial, sans-serif;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

.flexly {
	display: flex;
	align-items: center;
	padding-top: 1rem;
    color: #9c2c13;
    font-size: .8rem;
	margin-top: 1.1rem;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
	content: "";
	display: table;
	clear: both;
  }