@font-face {
    font-family: AvenirNextforINTUIT-Normal;
    src: url("https://ismaelmarin2010.github.io/projects/intuit/fonts/AvenirNextforINTUIT-Regular.otf") format("opentype");
}

@font-face {
    font-family: AvenirNextforINTUIT-Bold;
    src: url("https://ismaelmarin2010.github.io/projects/intuit/fonts/AvenirNextforINTUIT-Bold.otf") format("opentype");
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');


/*---------------- COMPARISON CHART (start) --------------------*/
.container .col1 {
	grid-column:1;
	font-size: 10px;
	line-height: 13px;
	text-align:right;
	padding:2rem 1rem 2rem 0.5rem;
	margin:-3px 0 0;
}

.container .header .title {
	font-size: 11px;
	line-height: 14.25px;
	margin:0;
}

.container .header .subtitle {
	font-size: 7px;
	line-height: 9.25px;
}

.info p {
	font-size: 8px;
	line-height: 10.5px;
	margin-top: 0;
}

img[src="https://ismaelmarin2010.github.io/projects/intuit/images/cross-mark.png"] {
	max-width: 15px;
}

img[src="https://ismaelmarin2010.github.io/projects/intuit/images/check-mark.png"] {
	max-width: 17px;
}

.gradientline {
	grid-column:1/6;
	grid-row:2;
	margin:-4px 0 0;
	background: rgb(70,201,193);
	background: linear-gradient(90deg, rgba(70,201,193,1) 0%, rgba(110,199,97,1) 100%);
	padding:0.3rem;
}

.dashedline {
	grid-column:1/6;
	margin:-2px 0 0;
	border-top-style: dashed;
	border-top-color: rgb(70,201,193);
	border-top-width: 1px;
}

.container {
	max-width: 726px;
	min-width: 320px;
	/*margin: auto;*/
	display:grid; 
	grid-template-columns: 1.2fr repeat(4,1fr);
	grid-gap:2px;
}

h2 {
	font-family: "AvenirNextforINTUIT-Bold", "Open Sans", sans-serif;
	font-style: normal;
	font-weight: bold;
}

p, .list {
	font-family: "AvenirNextforINTUIT-Normal", "Open Sans", sans-serif;
	font-style: normal;
	font-weight: normal;
}

.container .header {
	margin:1.25rem 0 0;
	text-align:center;
	padding:0.8rem
}

.info {
	margin:-3px 0 0;
	text-align:center;
	padding:1rem 0.5rem 0.5rem 0.5rem;
}

.container .sec1 {background-color:#F4F5F8;}

.container .sec2 {background-color:#92CD3F2E;}

/*------------------ COMPARISON CHART (end) ---------------------*/


/*----------------------- BOXES (start) -------------------------*/
.box {
	max-width: 726px;
	min-width: 320px;
	/*margin: auto;*/
	display:grid; 
	grid-template-columns: 2fr 2fr;
	grid-gap: 0.3rem;
}

.left, .right {background-color: #F4F5F8;}

.left h2, .right h2 {
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 125%;
	text-align: center;
	border-bottom-style: inset;
	border-bottom-width: 7px;
	padding: .5rem;
	margin: 0;
}

.left h2 {
	color:rgba(0, 0, 0, 0.44);
    border-bottom-color: rgba(0, 0, 0, 0.44);

}

.right h2 {
	color:#6EB435;
    border-bottom-color: #6EB435;
}

.left p, .right p, .list {
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	line-height: 125%;
	text-align: left;
	margin: 0;
}

.left p, .right p {
	padding: .8rem 0.7rem 1rem 0.7rem;
}

.list li {
	padding: 0;
}

.list {
	padding-bottom: 1rem;
}

/*------------------------ BOXES (end) --------------------------*/