header {
	align-items: center;
    justify-items: center;
    text-align: center;
	padding: 1em;
	color: white;
	background-color: #0D161C;
	border-radius: 10px;
}

main {
	background-color: white;
	color: black;
}

/*div {
	justify-self: stretch;
    border: 1px solid #ccc;
    padding: 4px;
    box-shadow: 5px 5px 5px #999;
	border-radius: 10px;
}*/

footer {
	border-radius: 10px;
	background-color: #0D161C;
	color: #FFFFFF;
    align-items: center;
    justify-items: center;
    text-align: center;
    padding: 1em;
    margin-top: 4em;
	font-size: 1.1em;
    line-height: 1.6em;
    letter-spacing: 0.04em;
}

nav {
	background-color: #ffffff;
	text-align: center;
	/*box-shadow: 0 2px 15px gray;*/
	font-family: "Noto Serif JP", Georgia, serif;
	border-radius: 10px;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav ul li a {
	display: block;
	color: #0D161C;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
}
nav a:hover {
	background-color: #0D161C;
	color: #ffffff;
}

nav ul { display: flex; }
nav ul li { flex: 1 1 100%; }

h1 {
	font-size: 1.95em;
	letter-spacing: 0.04em;
	text-align: center;
	font-family: Montserrat, Verdana, sans-serif;
	line-height: 1.4em;
}

h2 {
	font-size: 1.4em;
	letter-spacing: 0.02em;	
	font-family: Montserrat, Verdana, sans-serif;
	line-height: 1.4em;
}

p {
	font-family: "Noto Serif JP", Georgia, serif;
	font-size: 0.8em;
	letter-spacing: 0.09em;
	line-height: 2em;
}

img {
	max-width: 50%;
}